@model Proyecto02.Models.Equipo;
@{
    ViewData["Title"] = "Adquisición de equipos";
}

<h1>@ViewData["Paso"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarCompra" method="post">
            <div class="form-group">
                <label class="control-label">Tipo Equipo:</label>
                <label class="text-black-50">@Model.Modelo.Tipo.Nombre()</label>
                <input type="hidden" name="tipo" value="@((int)Model.Modelo.Tipo)" />
            </div>
            <div class="form-group">
                <label class="control-label">Modelo:</label>
                <label class="text-black-50">@Model.Modelo.Nombre</label>
                <input type="hidden" name="modelo" value="@ViewData["ModeloNum"]" />
            </div>
            <div class="form-group">
                <label class="control-label">Precio:</label>
                <label class="text-black-50">@string.Format("{0:C}", @Model.Precio)</label>
                <input type="hidden" name="precio" value="@Model.Precio" />
            </div>
            <div class="col-lg-10 btn-group p-2">
                <button class="btn btn-primary">Agregar compra</button> &nbsp;
                <a asp-controller="Compra" asp-action="Index">
                    <button type="button" class="btn btn-secondary">Cancelar</button>
                </a>
            </div>
        </form>
    </div>
</div>
